.header_outer_container {
  display: flex;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  position: sticky;
}
.header_left {
  width: 50%;

}
.header_left ul {
  position: sticky;
  background-color: rgb(5, 5, 5);
  color: white;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left li {
  margin: auto;
  align-items: center;
  font-size: small;
}
.icons {
  display: flex;
  position: sticky;
  list-style: none;
  justify-content: space-evenly;
  width: 10%;
}
.img_container {
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
}
.logo_nav {
  display: flex;
  width: 70%;
  align-items: center;
}
